@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  
  color: rgb(var(--foreground-rgb));
  /* Use a comma to separate image and gradient */
  background-image: 
   
    url('../../public/desk-writer.jpg'); /* Adjust path as necessary */
  background-size: cover; /* Cover the entire space of the element */
  background-attachment: fixed; /* Fix the background relative to the viewport */
  background-position: center; /* Center the background image */
}

